page-login {

  .toolbar-background {
    background-color: #C0C0C0;
  }


  .content-md{

    background-color: #708090;



  .label{
    background-color: #C0C0C0;
    color: #000;
  }
    #pad{
      margin:70px 0px;
    }
    #login{
      width: 45%;
      margin:0px 0px;
      float: left;
      font-weight: bold;
    }
    #register{
      width: 45%;
      margin:0px;
      float: right;
     font-size: 14px;
      font-weight: bold;
    }
  }
}
