page-home {
  .add {
    background-image: url("../../assets/imgs/pic7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .listt{
    background: #f9f9f9;
  }
}
.icon{
  float: right;
  color: #1569ff;
}
.logout{
  float: right;
  margin: 0px;
}
